@font-face {
  font-family: 'Simplon BP';
  src: url('/oi-inbound/assets/SimplonBP/SimplonBP-Bold.eot');
  src: url('/oi-inbound/assets/SimplonBP/SimplonBP-Bold.eot?#iefix') format('embedded-opentype'),
      url('/oi-inbound/assets/SimplonBP/SimplonBP-Bold.woff2') format('woff2'),
      url('/oi-inbound/assets/SimplonBP/SimplonBP-Bold.woff') format('woff'),
      url('/oi-inbound/assets/SimplonBP/SimplonBP-Bold.ttf') format('truetype'),
      url('/oi-inbound/assets/SimplonBP/SimplonBP-Bold.svg#SimplonBP-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Simplon Oi Headline';
  src: url('/oi-inbound/assets/SimplonBP/SimplonOi-Headline.eot');
  src: url('/oi-inbound/assets/SimplonBP/SimplonOi-Headline.eot?#iefix') format('embedded-opentype'),
      url('/oi-inbound/assets/SimplonBP/SimplonOi-Headline.woff2') format('woff2'),
      url('/oi-inbound/assets/SimplonBP/SimplonOi-Headline.woff') format('woff'),
      url('/oi-inbound/assets/SimplonBP/SimplonOi-Headline.ttf') format('truetype'),
      url('/oi-inbound/assets/SimplonBP/SimplonOi-Headline.svg#SimplonOi-Headline') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Simplon BP';
  src: url('/oi-inbound/assets/SimplonBP/SimplonBP-Regular.eot');
  src: url('/oi-inbound/assets/SimplonBP/SimplonBP-Regular.eot?#iefix') format('embedded-opentype'),
      url('/oi-inbound/assets/SimplonBP/SimplonBP-Regular.woff2') format('woff2'),
      url('/oi-inbound/assets/SimplonBP/SimplonBP-Regular.woff') format('woff'),
      url('/oi-inbound/assets/SimplonBP/SimplonBP-Regular.ttf') format('truetype'),
      url('/oi-inbound/assets/SimplonBP/SimplonBP-Regular.svg#SimplonBP-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Simplon BP';
  src: url('/oi-inbound/assets/SimplonBP/SimplonBP-Medium.eot');
  src: url('/oi-inbound/assets/SimplonBP/SimplonBP-Medium.eot?#iefix') format('embedded-opentype'),
      url('/oi-inbound/assets/SimplonBP/SimplonBP-Medium.woff2') format('woff2'),
      url('/oi-inbound/assets/SimplonBP/SimplonBP-Medium.woff') format('woff'),
      url('/oi-inbound/assets/SimplonBP/SimplonBP-Medium.ttf') format('truetype'),
      url('/oi-inbound/assets/SimplonBP/SimplonBP-Medium.svg#SimplonBP-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Simplon BP';
  src: url('/oi-inbound/assets/SimplonBP/SimplonBP-Light.eot');
  src: url('/oi-inbound/assets/SimplonBP/SimplonBP-Light.eot?#iefix') format('embedded-opentype'),
      url('/oi-inbound/assets/SimplonBP/SimplonBP-Light.woff2') format('woff2'),
      url('/oi-inbound/assets/SimplonBP/SimplonBP-Light.woff') format('woff'),
      url('/oi-inbound/assets/SimplonBP/SimplonBP-Light.ttf') format('truetype'),
      url('/oi-inbound/assets/SimplonBP/SimplonBP-Light.svg#SimplonBP-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Fonts */
$primary-font: 'Noto Sans';
$secondary-font: 'Simplon BP';

/* Fonts */
.primary-font {
  font-family: $primary-font;
}

.secondary-font {
  font-family: $secondary-font;
}