// Conteiner
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include extra-large {
    max-width: $extra-large;
    padding: 0;
  }

  @include large {
    max-width: $large;
    padding: 0;
  }

  @include medium {
    max-width: $medium;
    padding: 0;
  }

  @include small {
    max-width: $small;
    padding: 0;
  }

  @include extra-small {
    max-width: $small;
    padding: 0;
  }
}

// Linha
.row {
  margin: 0 -15px;
  text-align: center;

  @include mobile {
    margin: 0 -5px;
  }

  // Clearfix Start (Evitar elementos flutuarem em volta do elemento)
  &::before, &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
  // Clearfix End
}

// Colunas
.col {
  // Ao usar inline-block temos controle do alinhamento vertical (vertical-align), diferentemente do float onde perdemos esse controle
  display: inline-block;
  vertical-align: top;
  min-height: 5px;
  padding: 0 15px;
  width: 100%;
  // Eliminar margin automatica do inline-block
  margin-right: -5px;
  // Hack Internet Explorer
  *zoom: 1;
  *display: inline;
  text-align: left;

  @include mobile {
    padding: 0 5px;
  }
}

@include extra-large {
  .col { width: $extra-large; }
  @include generate-columns($extra-large);
  @include generate-columns($extra-large, "xl-");
}

@include large {
  .col { width: $large; }
  @include generate-columns($large);
  @include generate-columns($large, "l-");
}

@include medium {
  .col { width: $medium; }
  @include generate-columns($medium);
  @include generate-columns($medium, "m-");
}

@include small {
  .col { width: $small; }
  @include generate-columns($small);
  @include generate-columns($small, "s-");
}

@include extra-small {
  .col { width: calc(100vw - 40px); }
  @include generate-columns(calc(100vw - 40px));
  @include generate-columns(calc(100vw - 40px), "xs-");
}