@import "variables";

@import "colors";

@import "breakpoints";

@import "mixins";

@import "reset";

@import "sombra";

@import "typograph";

@import "grid";

html, body {
  overflow-x: hidden;
}

.holder {
  @extend .primary-font;
  background-color: $cor-roxo;
  color: $cor-branco;

  padding: 5px;
  text-align: center;
  margin: 5px 0;

  &.big {
    height: 50px;
  }
}

.exemplo {

  .container {
    padding: 0;
  }

  &__bloco {
    @extend .primary-font;
    display: inline-block;
    height: 120px;
    width: 120px;
    padding: 50px 10px;
    margin: 5px;
    border-radius: 100px;
    text-align: center;
    vertical-align: top;
  }
}

.page {
  padding-top: 104px;

  @include mobile {
    padding-top: 84px
  }
}

description {
  display: none;
}