@mixin generate-helpers(
  $attr,
  $prefix,
  $attr-count: 10,
  $attr-steps: 10,
  $unit: "%"
) {
  $attr-list: null;
  @for $i from 1 through $attr-count {
    $attr-value: $attr-steps * $i;
    .#{$prefix}-#{$attr-value} {
      #{$attr}: #{$attr-value}#{$unit};
    }
    $attr-list: append(
      $attr-list,
      unquote(".#{$prefix}-#{$attr-value}"),
      comma
    );
  }
  #{$attr-list} {
    //append style to all classes
  }
}

@mixin generate-columns(
  $width-base: 1200px,
  $prefix: ""
) {
  $attr-count: 12;
  $attr-list: null;
  @for $i from 1 through $attr-count {
    $attr-value: $i;
    .#{$prefix}col-#{$attr-value} {
      width: calc((#{$width-base} / #{$attr-count}) * #{$attr-value});
    }
    $attr-list: append(
      $attr-list,
      unquote(".#{$prefix}col-#{$attr-value}"),
      comma
    );
  }
  #{$attr-list} {
    //append style to all classes
  }
}