@import "fonts";

.h1 {
  @extend .secondary-font;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;

  @include mobile {
  }
}

.h2 {
  @extend .secondary-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin: 40px 0 20px 0;

  @include mobile {
  }
}

.h3 {
  @extend .secondary-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  @include mobile {
  }
}

.h4 {
  @extend .primary-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  

  @include mobile {
  }
}

.paragraph {
  @extend .primary-font;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  white-space: pre-line;
}