// Small devices (landscape phones, 576px and up)
$small: 576px;

// Medium devices (tablets, 768px and up)
$medium: 768px;

// Large devices (desktops, 992px and up)
$large: 992px;

// Extra large devices (large desktops, 1106px and up)
$extra-large: 1106px;

$cor-verde: #00D318;
$cor-azul: #00AFCC;
$cor-branco: #FFFFFF;
$cor-branco-turvo: #FAFAFA;
$cor-preto: #000000;
$cor-cinza: #999999;
$cor-cinza-claro: #DEDEDE;
$cor-cinza-medio: #4D4D4D;
$cor-cinza-escuro: #141414;

$cor-branco-5: rgba($cor-branco, 0.05);
$cor-branco-20: rgba($cor-branco, 0.20);
$cor-branco-40: rgba($cor-branco, 0.40);
$cor-branco-60: rgba($cor-branco, 0.60);
$cor-branco-80: rgba($cor-branco, 0.80);

$cor-preto-5: rgba($cor-preto, 0.05);
$cor-preto-20: rgba($cor-preto, 0.20);
$cor-preto-40: rgba($cor-preto, 0.40);
$cor-preto-60: rgba($cor-preto, 0.60);
$cor-preto-80: rgba($cor-preto, 0.80);