.error {
  padding: 80px 0;

  &__status {
    color: $cor-cinza;
    font-size: 28px;
  }
  &__title {
    color: $cor-preto;
    text-transform: uppercase;
    margin: 15px 0 30px 0;
    white-space: pre-line;
    font-size: 46px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 3px;
  }
  &__message {
    color: $cor-cinza;
    white-space: pre-line;
    font-size: 17px;
  }
  &__image {
    max-width: 100%;
  }
}