.categoria {
  &__title {
    padding: 0 0 18px 0;
    margin: 40px 0 20px 0;
    border-bottom: 2px solid #000;

    @include mobile {
      font-size: 18px;
      line-height: 18px;
    }
  }

  .h2 {
    padding: 0 0 0 5px;
  }
}