.footer {
  margin-top: 60px;
  width: 100%;
  background-color: $cor-branco-turvo;

  &__links {
    border: 1px solid $cor-cinza-claro;
    padding: 48px 0;
  }

  &__rights {
    padding: 20px 0;

    &__terms {
      @extend .secondary-font;
      display: inline-block;
      line-height: 47px;
      vertical-align: top;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  .h3 {
    margin-bottom: 40px;
  }

  .categorias {
    .list-links {
      &__item {
        &__link {
          min-width: 130px;
        }
      }
    }
  }

  .planos {
    .list-links {
      &__item {
        &__link {
          min-width: 110px;
        }
      }
    }
  }

  .list-links {
    &__item {
      display: inline-block;

      @include mobile {
        width: calc(100% / 2);
        vertical-align: top;
        margin-right: -5px;
      }

      &__link {
        display: inline-block;
        margin: 0 20px 20px 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: none;
      }
    }
  }
}