.newsletter {
  background: #FF954D;
  border-radius: 8px;
  padding: 20px;
  margin-top: 80px;
  position: relative;

  .h4 {
    color: $cor-branco;
    text-align: center;
    margin-bottom: 10px;
  }

  input {
    outline: inherit;
    border: solid $cor-branco;
    border-width: 0 0 1px 0;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    color: $cor-branco;

    &::placeholder {
      color: $cor-branco;
    }
  }

  button {
    outline: inherit;
    background: #FF6D00;
    font-family: $secondary-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    border: 0;
    color: $cor-branco;
    padding: 12px;
    margin-top: 20px;
    cursor: pointer;
  }

  &::before {
    @include mobile {
      content: '';
      background: #FF6D00;
      width: 70px;
      height: 3px;
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: -35px;
      margin-top: -30px;
    }
  }

  @include mobile {
    background-color: transparent;

    .h4 {
      color: #4D4D4D;
    }

    input {
      color: #9C9C9C;
      border-color: #9C9C9C;

      &::placeholder {
        color: #9C9C9C;
      }
    }
  }
}