$hb: 493px; // Altura base para o mosaico Desktop

/* Logo */
.mosaico {
  padding: 40px 0;

  .swiper-container {
    .swiper-slide {
      padding: 0 2px;
    }

    .swiper-wrapper {
      margin-bottom: 45px;
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        opacity: 1;
        width: 11px;
        height: 11px;
        background-color: $cor-cinza-claro;
      }
      .swiper-pagination-bullet-active {
        background-color: $cor-laranja;
      }
    }
  }

  &__post-content {
    border-radius: 8px;
    position: relative;
    background-position: center;
    background-size: cover;

    &--main-post {
      height: $hb;
    }

    &--third + &--third {
      margin-top: 40px;
    }
    &--third {
      height: calc((#{$hb} / 3) - (80px / 3));
    }

    &__info {
      position: absolute;
      padding: 20px;
      bottom: 0;
      left: 0;
      width: 100%;

      &__title {
        font-family: $primary-font;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left;
        color: $cor-branco;
      }
      &__descricao {
        font-family: $secondary-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: $cor-branco;
      }
    }
  }

  .row {
    .col.col-6 {
      .post-card__info {
        .post-card__info__title.h3 {
          font-size: 32px;
        }
      }
    }
  }
}